.homeColor {
    color: rgb(136, 136, 136);
}

.divTitleLogo {
    display: flex;
    justify-self: center;
    @media only screen and (min-width: 1200px) {
        justify-self: left;
    }

}

.divNav
{
    font-size: 1.2rem;
    padding: 0.5rem;
    background-color: rgba(216, 216, 216, 0.521);
    text-align: center;
    border-radius: 0.5rem;
    width: 15rem;
    margin-top: 1rem;
    color: rgb(93, 93, 93);
    display: grid;

    @media only screen and (min-width: 1200px) {
        width: 45rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        right: 5rem;
    }
}

main {
    margin-top: 2rem;
}

.slogan {
    text-align: center;
}

.mainShopKnop {
    justify-self: center;
    padding: 2rem;
    .mainShopLink {
        background-color: rgb(97, 161, 97);
        border-radius: 0.2rem;
        padding: 1rem;
        color: white;
        font-weight: bold;
    }
}

.mainH2 {
font-size: 2rem;
text-align: center;
}

.mainBestVerkopend {
    display: flex;
    padding-top: 2rem;
    justify-content: center;

        @media only screen and (min-width: 1200px) {
            visibility: hidden;
}
}

.productenBestVerkopend {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    
    @media only screen and (min-width: 1200px) {

            .productDroomVanger {
            height: 650px;
            background-size: cover;
            background-position: center;
    }
}
}

    .productDroomVanger {
    background-image: url(../assets/droomvanger.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 300px;
    padding: 1rem;
    display: flex;
    align-items: end;
    border-radius: 1rem;
    justify-self: center;
    margin-top: 1rem;
    
    .info {
            background-color: white;
            flex-grow: 1;
            margin: 0.5rem;
            background-color: rgb(255, 255, 255);
            border-radius: 0.5rem;
            padding: 0.3rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
    }
    h1 {
        font-weight: bold;
    }
    h3 {
        color: gray;
    }
    p {
        color: rgb(72, 161, 72);
        text-shadow: 1px 1px 1px rgb(112, 112, 112);
        font-weight: bold;
    }
    }

.productminiatuurweerflesje {
    background-image: url(../assets/miniatuurweerflesje.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 300px;
    padding: 1rem;
    display: flex;
    align-items: end;
    border-radius: 1rem;
    justify-self: center;
    margin-top: 1rem;

    .info {
            background-color: white;
            flex-grow: 1;
            margin: 0.5rem;
            background-color: rgb(255, 255, 255);
            border-radius: 0.5rem;
            padding: 0.3rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
    }
    h1 {
        font-weight: bold;
    }
    h3 {
        color: gray;
    }
    p {
        color: rgb(72, 161, 72);
        text-shadow: 1px 1px 1px rgb(112, 112, 112);
        font-weight: bold;
    }
    }

    .productOnzichtbarenotitieboek {
    background-image: url(../assets/onzichtbarenotitieboek.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 300px;
    padding: 1rem;
    display: flex;
    align-items: end;
    border-radius: 1rem;
    justify-self: center;
    margin-top: 1rem;
    
    .info {
            background-color: white;
            flex-grow: 1;
            margin: 0.5rem;
            background-color: rgb(255, 255, 255);
            border-radius: 0.5rem;
            padding: 0.3rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
    }
    h1 {
        font-weight: bold;
    }
    h3 {
        color: gray;
    }
    p {
        color: rgb(72, 161, 72);
        text-shadow: 1px 1px 1px rgb(112, 112, 112);
        font-weight: bold;
    }
    }

    .card {
        margin: 5rem;
        align-self: center;
        justify-self: center;
        background-color: #ffffff;
        border-radius: 10px;
        width: 40rem;
        height: 12rem;
        text-align: center;
        border: 2px solid black;
        

        img {
    border-radius: 50%;
    padding: 5px;
    position: relative;
    bottom: 65px;

    @media only screen and (min-width: 1200px) {
        bottom: 0px;
    }
        }

         
     @media only screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        padding: 1rem;
    }
}
