.cyan {
    color: Cyan
}

.pink {
    color: pink
}

.vanalles {
    color: gray
}

.bordertest {
    border: 5px solid blueviolet;
    margin: 10px;
    width: 200px;
    height: 35px;
}

.borderradius {
    border: 10px solid red;
    box-shadow: 10px;
    border-radius: 15px;
    width: 150px;
}

.kleurtjes {
    background-color: #65baeb;
}

.kleurtjestransparent {
    background-color: rgba(155,100,100, 0.9);
}

.achtergrond {
    background-image: url(./test/test.png);
    background-size: 10px;
}

.lettertypes{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.fonttypes {
    font-style: italic;
    font-weight: medium;
    font-size: medium;
}

.texttransform {
    text-transform: lowercase;
}

.lettersize {
    font-size: 10px;
}

a.hover {
    text-decoration: dotted;
    cursor: crosshair;
    color: purple
}

a:visited {
    color:#65baeb
}

a:focus  {
    outline: 2px solid;
}

:focus-visible {
    outline: 3px solid;
}